<h1 style="text-align: center; padding: 10px;">Warehouse</h1>
<div class = "warehouse">
    <div class = "register">
        <form #warehouseForm ="ngForm" class="warehouse-form" class = "content-box">
            <div>
                <h2>Register Warehouse:</h2>
            </div>
            <div class = "form-field">
                <label for="id"> Id: </label>
                <input name = "id" type="text" [(ngModel)] = "formData.id" required>
            </div>
            <div class = "form-field">
                <label>Adresas:</label>
            <input name = "adress" type = "text" [(ngModel)] = "formData.adresas" required>
            </div>
            <div class = "form-field">
                <label>Plotas:</label>
                <input name = "plotas" type = "number" [(ngModel)] = "formData.plotasM2" required>
            </div>
            <button pButton (click)="Submit()" label = "Submit" [disabled]="!warehouseForm.form.valid"></button>
        </form>
        <div class = "buttons">
            <button pButton (click)="getById(id.toString())" label="Get by Id"></button>
            <input pInputText inputId="Id" [(ngModel)] = "id">
        </div>
        <div class = "inventories">
            <form #inventoryForm ="ngForm" class="inventory-form" class = "content-box">
                <div>
                    <h2>Register Inventory:</h2>
                </div>
                <div class = "form-field">
                    <label for="whId"> Warehouse Id: </label>
                    <input name = "whId" type="text" [(ngModel)] = "invForm.whId" required>
                </div>
                <div class = "form-field">
                    <label for="id">Inventory Id: </label>
                    <input name = "invId" type="text" [(ngModel)] = "invForm.id" required>
                </div>
                <div class = "form-field">
                    <label for="amount">Amount:</label>
                <input name = "amount" type = "number" [(ngModel)] = "invForm.amount" required>
                </div>
                <button pButton (click)="invSubmit()" label = "Submit" [disabled]="!inventoryForm.form.valid"></button>
            </form>
        </div>
    </div>
    <div class = "display">
        <p-table 
            dataKey="id"
            [value] = "(warehouses$ | async)">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Adresas</th>
                    <th>Plotas</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-warehouse let-expanded="expanded">
                <tr>
                    <td><button pButton [pRowToggler]="warehouse" icon="pi pi-search" (click) = "onExpand(warehouse.id)"></button></td>
                    <td>{{warehouse.id}}</td>
                    <td>{{warehouse.adresas}}</td>
                    <td>{{warehouse.plotasM2}}</td>
                    <td><button pButton icon="pi pi-trash" (click) = "onDelete(warehouse.id)"></button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-warehouse>
                <p-table 
                [value] = "(getInventories(warehouse.id) | async) || []"
                >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Inventory</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inv>
                    <tr>
                        <th>{{inv}}</th>
                    </tr>
                </ng-template>
                </p-table>

            </ng-template>

        </p-table> 
        <ng-template #noData>
            <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Adresas</th>
                    <th>Plotas</th>
                    <th></th>
                </tr>
            </ng-template>
            </p-table>
        </ng-template>
    </div>
</div>